<suite name="Group of Tests" parallel="tests">
    <test name="ChromeTests">
            <parameter name="browser" value="chrome" />
            <classes>
                <class name= "test.java.com.miwanow.weather.TestLanguageSwitch" />
                <class name = "test.java.com.miwanow.weather.TestSearchForWeatherForecast">
                    <methods>
                        <include name = "test_coordinates_searching"/>
                        <include name = "test_city_searching"/>
                    </methods>
                </class>
            </classes>
    </test>
    <test name = "FirefoxTests">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name= "test.java.com.miwanow.weather.TestLanguageSwitch" />
            <class name = "test.java.com.miwanow.weather.TestSearchForWeatherForecast">
                <methods>
                    <include name = "test_coordinates_searching"/>
                    <include name = "test_city_searching"/>
                </methods>
            </class>
        </classes>
    </test>
 </suite>